node_modules
coverage/
examples/
output/
attic/
make/
test/
docs/
gen/
tmp/
data/countries/*.todo
scripts/addtree.js
scripts/attributions.js
scripts/tree.js
types/index.tst.ts
Makefile
TODO.md
CONTRIBUTING.md
*.log
*.tgz
*.sh
.*
package-lock.json
yarn.lock
commitlint.config.cjs
rollup.config.mjs
webpack.config.cjs