sudo: false
language: node_js
node_js:
  - "4.8"
  - "6.11"
  - node
# Does not work with node v8 
#cache:
#  directories:
#    - node_modules
before_install:
  # Update Node.js modules
  #- "test ! -d node_modules || npm prune"
  #- "test ! -d node_modules || npm rebuild"
script:
  - npm test
